.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container h1 {
  font-size: 36px;
  font-family: sans-serif;
  font-weight: bold;
  margin: 40px;

}

.square {
  width: 100px;
  height: 100px;
  background-color: #abdbff;
  border: 1px solid #009c48;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  line-height: 100px;
  margin: 12px;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.status {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.lower-row {
  margin-bottom: 40px;
}
